@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  background-color: #9ed3f6;
  color: #0f172a;
}

.dark body {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}